.angular-google-map-container {
  height: 400px;
}
.fade-in-out.ng-enter, .fade-in-out .ng-enter {
	-webkit-animation: slideInUp 0.3s;
	-moz-animation: slideInUp 0.3s;
	animation: slideInUp 0.3s;
}
.preloader {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: #000;
	opacity: 0.8;
	color: white;
	text-align: center;
	line-height: 100%;
	z-index: 1000;

	img {
		position: absolute;
		top: 50%;
		left: 50%;
		margin: -30px;
		width: 60px;
		height: 60px;
	}
}

.sidebar {
	background-color: #272727;

	font-weight: 600;
	.icon {
		font-size: 24px;
		color: #ebebeb;
	}
	.logo {
		    width: 120px;
	    display: block;
	    margin: auto;
	    padding: 20px 0px;
	}
	.item {
	    background-color: transparent;
	    border: 0;
	    border-top: 1px solid #232323;
	    color: #fff;
	    padding: 13px 13px 13px 64px;
	    line-height: 22px;
	    height: 47px;
	    font-size: 12pt;
	}
	.item:hover, .item:active, .item:focus {
		background-color: #3d3d3d;
	}
}


.angular-google-map-container, .angular-google-map { 
	height: 100%;
}


.pane {
	.background {
		background-image: url("../img/yerevan-city-min.jpg");
		background-size: cover;
		background-position: center center;
		display: block;
		width: 120%;
		height: 120%;
		position: fixed;
		left: -10%;
		top: -10%;
		z-index: 0;

	}



	::-webkit-input-placeholder { /* WebKit, Blink, Edge */
	    color: #fff;
	    opacity: 1;
	}
	:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
		color: #fff;
	    opacity: 1;
	}
	::-moz-placeholder { /* Mozilla Firefox 19+ */
		color: #fff;
		opacity: 1;
	}
	:-ms-input-placeholder { /* Internet Explorer 10-11 */
		color: #fff;
		opacity: 1;
	}

	.placeholder-uppercase {
		::-webkit-input-placeholder { /* WebKit, Blink, Edge */
		    text-transform: uppercase;
		}
		:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
			text-transform: uppercase;
		}
		::-moz-placeholder { /* Mozilla Firefox 19+ */
			text-transform: uppercase;
		}
		:-ms-input-placeholder { /* Internet Explorer 10-11 */
			text-transform: uppercase;
		}
	}

}

.bar.bar-balanced .title {
	margin: 0;
}

.nav-bar-title {
    width: 100%;
    height: 28px;
    background-color: rgba(255, 255, 255, 0.3);
    display: block;
    padding: 0px 8px;
    margin: 8px 0;
    overflow: hidden;
    border-radius: 4px;


	i {
	    color: #fff;
	    float: left;
	    display: block;
	    height: 28px;
	    line-height: 32px;
	}

    div.search {
		margin-left: 20px;
		display: block;

		input {
			background-color: transparent;
			color: #fff;
			display: block;
			width: 100%;
			height: 28px;
			margin: 0;
			padding: 0;
			line-height: 32px;
		}
	}

}

.slider, .slider-slides, .slider-slide {
	height: 100%;
}

.photo-slider {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 200px;
    background-color: white;
    z-index: 300;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.2);
    
    .photos {
    	width: 100%;
    	height: 100%;
    	position: absolute;
    	top: 0;
    	left: 0;
    	overflow: hidden;

    	.container {
	    	width: 500%;
	    	height: 100%;
			transition: .3s transform;
	    	
	    }

	    .photo {
	    		width: 100%;
	    		height: 100%;
	    		float: left;
	    		background-repeat: no-repeat;
	    		background-position: center center;
	    		background-size: cover;
	    	}
    }

    .info {
    	pointer-events: none;
    	width: 100%;
    	height: 100%;
    	position: absolute;
    	top: 0;
    	left: 0;
    	background-image: linear-gradient(transparent 40%, rgba(0, 0, 0, 0.75));
    	color: #fff;
    	.days {
			pointer-events: auto;
    		position: absolute;
    		top: 10px;
    		left: 10px;
    		border-radius: 4px;
    		background-color: rgba(255, 255, 255, 0.3);
    		text-shadow: 0px 1px 0px rgba(0,0,0,.2);
    		color: white;
    		padding: 4px;
    		font-size: 14px;
    		line-height: 14px;
    	}
    	.like {
			pointer-events: auto;
    		position: absolute;
    		top: 10px;
    		right: 10px;
    		text-shadow: 0px 1px 0px rgba(0,0,0,.2);
    		color: #fff;
    		font-size: 28px;
    		width: 28px;
    		height: 28px;
    		*background-color: rgba(255, 0, 255, 0.3);
    		text-align: center;
    	}
    	.share {
			pointer-events: auto;
    		position: absolute;
    		top: 10px;
    		right: 48px;
    		text-shadow: 0px 1px 0px rgba(0,0,0,.2);
    		color: #fff;
    		font-size: 28px;
    		width: 28px;
    		height: 28px;
    		*background-color: rgba(255, 0, 255, 0.3);
    		text-align: center;
    	}
    	.details {
    		width: 100%;
    		height: 80px;
    		position: absolute;
    		left: 0;
    		bottom: 0;
    		font-size: 11px;
    		text-shadow: 0px 1px 0px rgba(0,0,0,0.2);
    		.left {
    			float: left;
    			width: 60%;
    			padding: 0 10px;
    			line-height: 16px;
    			.price {
					pointer-events: auto;
    				font-size: 24px;
    				font-weight: 600;
    				line-height: 32px;
    			}
    		}
    		.right {
    			float: left;
    			width: 40%;
    			.box {
					pointer-events: auto;
    				width: 33%;
    				height: 40px;
    				float: left;
    				text-align: center;
    				border-left: 1px solid #fff;
    				font-weight: 600;
    				padding: 0px;
    				.value {
    					font-size: 14px;
    				}
    			}
    			.box:first-child {
    				border: 0;
    			}
    			.viewed {
					pointer-events: auto;
    				width: 56px;
    				height: 24px;
    				position: absolute;
    				right: 50px;
    				bottom: 0px;
    				color: #3ecf37;
    				span {
    					font-size: 12px;
    					line-height: 44px;
    					color: #fff;
    				}
    			}
    			.liked {
					
					pointer-events: auto;
    				width: 56px;
    				height: 24px;
    				position: absolute;
    				right: 0px;
    				bottom: 0px;
    				color: #ed5050;
    				span {
    					font-size: 12px;
    					line-height: 44px;
    					color: #fff;
    				}
    			}
    		}
    	}
    }
}

.photo-slider:hover .container {
	transform: translateX(-20%);
}

.price-marker {
  position: relative;
  border-radius: 4px;
  background-color: #17A211;
  border: 1px solid #17a211;
  border-bottom:0;
  color: white;
  padding: 4px;
  width: 60px;
  height: 29px;
  text-align: center;
  font-size: 13px;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2); 
  box-shadow:0px -1px 7px rgba(0,0,0,0.3);
  background-image: linear-gradient(rgba(255,255,255,0.1), rgba(255,255,255,0));
}
.price-marker::after {
    content: "";
    position: absolute;
    top:28px;
    left:50%;
    margin-left: -5px;
    display:block;
    width: 0;
    height: 0;
    border-bottom: 0;
    border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid #17A211;
}



.price-marker.visited {
	background-color: #666;
	border-color: #666;
}

.price-marker.visited::after {
	border-top-color: #666;
}


.price-marker.top {
	background-color: #DC3048;
	border-color: #DC3048;
}

.price-marker.top::after{
	border-top-color: #DC3048;
}



.custom-info > img {
    display: none;
}


.radio-line {
	display: block;
	height: 28px;
	width: 100%;
	border: 1px solid #17A210;
	border-radius: 6px;
	overflow:hidden;
	margin-top: 10px;
	margin-bottom: -14px;
	label {
		position:relative;
		border-radius: 0;
		border: 0;
		input[type="radio"], input[type="checkbox"] {
			-webkit-appearance: none;
			background-color: #fff;
			width: 100%;
			height: 100%;
			border: 0;
			border-radius: 0;
			padding: 0;
			margin: 0;
		}
		span {
			width: 100%;
			height: 100%;
			position: absolute;
			top:0;
			left: 0;
			text-align: center;
			line-height: 28px;
			color:#17A210;
			font-weight: 600;
		}
		width: 20%;
		height: 28px;
		float: left;
	}
	input[type="radio"]:checked, input[type="checkbox"]:checked {
		background-color: #17A210;
	}
	input[type="radio"]:checked+span, input[type="checkbox"]:checked+span {
		color: #fff;
	}
}