/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/

$balanced: #17a211 !default;

$font-family-sans-serif:          "Myriad Pro","NoahTTRegular", "Helvetica Neue", "Roboto", "Segoe UI", sans-serif !default;
$font-family-light-sans-serif:    "Myriad Pro","NoahTTRegular", "HelveticaNeue-Light", "Roboto-Light", "Segoe UI-Light", sans-serif-light !default;
$font-family-serif:               serif !default;
$font-family-monospace:           monospace !default;

// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;

$button-border-radius:            6px !default;

$button-large-icon-size:          24px !default;

// Include all of Ionic
@import "www/lib/ionic/scss/ionic";
@import "scss/home.scss";
@import "scss/likeList/likeList.scss";
@import "scss/manageList/manageList.scss";
@import "scss/auth/signIn.scss";
@import "scss/auth/signUp.scss";
@import "scss/auth/resetPassword.scss";
@import "scss/auth/codeConfirm.scss";
@import "scss/auth/createPassword.scss";
@import "scss/reality/property.scss";

