<ion-view view-title="{{ 'aria-rent.auth.codeConfirm.title' | translate }}" class="codeConfirm">
  <div class="background"></div>


  <ion-nav-bar class="bar bar-transparent">
     <ion-nav-back-button class="button-clear button-light"></ion-nav-back-button>
  </ion-nav-bar>

  <ion-content scroll="false">

    <div class="list list-inset">

		<label class="item placeholder-uppercase">
			<input type="text" ng-model="data.email" placeholder="Enter the code" name="text">
		</label>

		<button ng-click="confirmCode()" class="button button-outline button-light codeConfirmButton">
			Reset Password
		</button>


	</div>
  </ion-content>
</ion-view>
