<ion-view view-title="{{ 'aria-rent.auth.createPassword.title' | translate }}" class="createPassword">
  <div class="background"></div>


  <ion-nav-bar class="bar bar-transparent">
     <ion-nav-back-button class="button-clear button-light"></ion-nav-back-button>
  </ion-nav-bar>

  <ion-content scroll="false">

    <div class="list list-inset">

    <label class="item item-input placeholder-uppercase">
      <input type="text" placeholder="Create Password" name="password">
    </label>

		<label class="item item-input placeholder-uppercase">
			<input type="text" placeholder="Confirm Password" name="confirmation">
		</label>

		<button ng-click="createPassword()" class="button button-outline button-light codeConfirmButton">
			Done!
		</button>


	</div>
  </ion-content>
</ion-view>
