<ion-view view-title="{{ 'aria-rent.auth.resetPassword.title' | translate }}" class="resetPassword">
  <div class="background"></div>


  <ion-nav-bar class="bar bar-transparent">
     <ion-nav-back-button class="button-clear button-light"></ion-nav-back-button>
  </ion-nav-bar>

  <ion-content scroll="false">

    <div class="list list-inset">

		<label class="item item-input placeholder-uppercase">
			<input type="text" ng-model="data.email" placeholder="Enter your Email" name="email">
		</label>

		<button ng-click="sendRequest()" class="button button-outline button-light codeConfirmButton">
			Get Code
		</button>


	</div>
  </ion-content>
</ion-view>
