<ion-view view-title="Settings" class="settings">
  <ion-nav-buttons side="right">
    <a ng-click="saveSettings()" class="button button-icon icon ion-checkmark-round"></a>
  </ion-nav-buttons>
  <ion-content scroll="false">
  	<div class="list">
      <a class="item item-icon-left item-select" href="#">
        <i class="icon ion-social-usd balanced"></i>
        Currency
        <select ng-model="settings.currency">
          <option value="usd">USD</option>
          <option value="amd">AMD</option>
          <option value="rub">RUB</option>
        </select>
      </a>

      <a class="item item-icon-left" href="#">
        <i class="icon ion-earth balanced"></i>
        Language
        <select ng-model="settings.language">
          <option value="en">English</option>
          <option value="am">Armenian</option>
          <option value="ru">Russian</option>
        </select>
      </a>

      <a class="item item-icon-left" href="#">
        <i class="icon ion-ios-people balanced"></i>
        Terms and Conditions
      </a>

	</div>
  </ion-content>
</ion-view>
