<ion-view view-title="{{ 'aria-rent.auth.signIn.title' | translate }}" class="signIn">
  <div class="background"></div>

  <ion-nav-bar class="bar bar-transparent">
     <ion-nav-back-button class="button-clear button-light"></ion-nav-back-button>
  </ion-nav-bar>

  <ion-content scroll="false">

    <div class="list list-inset">
  		<img src="img/logo.png" class="logo">

		<label class="item item-input">
			<i class="icon ion-ios-email-outline"></i>
			<input type="text" ng-model="data.email" placeholder="Email address:" name="email">
		</label>
		<label class="item item-input">
			<i class="icon ion-ios-locked-outline"></i>
		<input type="password" ng-model="data.password" placeholder="Password:" name="password">
		</label>
		<button ui-sref="app.auth.resetPassword" class="button button-small button-clear button-light pull-right forgetPasswordButton">
		  <u>Forgot password?</u>
		</button>


		<button ng-click="signInByEmail()" class="button button-outline button-light signInButton">
			Sign in
		</button>

		<button class="button button-outline button-light facebookButton" ng-click="signByFacebook()">
			<i class="icon ion-social-facebook"></i>Connect with facebook
		</button>


	</div>
  </ion-content>
	<div class="bar bar-footer bar-transparent">
		<button ui-sref="app.auth.signUp" class="button button-small button-clear button-light pull-left">
		  <u>Sign up</u>
		</button>
		<button ng-click="skip()" class="button button-small button-clear button-light pull-right">
		  Skip
		</button>
	</div>
</ion-view>
