<ion-view  animation="no-animation" view-title="{{ 'Sign up' }}" view-title-normal="{{ 'aria-rent.auth.signUp.title' | translate }}" class="signUp" hide-back-button="false">
  <div class="background"></div>

  <ion-nav-bar class="bar bar-transparent">
     <ion-nav-back-button class="button-clear button-light"></ion-nav-back-button>
  </ion-nav-bar>

  <ion-content scroll="false">

    <div class="list list-inset">

      <label class="item item-input placeholder-uppercase">
        <input ng-model="data.name" type="text" placeholder="Name" name="name">
      </label>

      <label class="item item-input placeholder-uppercase">
        <input ng-model="data.email" type="text" placeholder="Email" name="email">
      </label>

      <label class="item item-input placeholder-uppercase">
        <input ng-model="data.password" type="password" placeholder="Password" name="password">
      </label>

      <label class="item item-input placeholder-uppercase">
        <input ng-model="data.confirm" type="password" placeholder="Confirm password" name="confirmation">
      </label>



      <button ng-click="signUp()" class="button button-balanced signUpButton">
        Sign up
      </button>



    </div>
  </ion-content>

</ion-view>
