<ion-view view-title="Like List" class="likeList">
  <ion-content>
	<ion-list can-swipe="true">

		<ion-item class="property" ng-repeat="property in properties" ng-hide="property.noShow">
			<div class="left">
				<div class="photo" style="background-image:url({{property.medias[0]}})"></div>
			</div>
			<div class="right">
				<div class="address">{{property.street_en}}</div>
				<div class="area">Square footage: {{property.area}}</div>
				<div class="bedrooms">{{property.rooms}} bedrooms</div>
				<div class="bathrooms">{{property.bathroom}} bathroom</div>
    			<a class="like icon ion-ios-heart-outline"></a>
    			<div class="price">${{property.price}}</div>
			</div>
		    <ion-option-button ng-click="removeLike($index)" class="button-assertive">Remove</ion-option-button>
		</ion-item>

	</ion-list>
</ion-content>
</ion-view>
