<ion-view view-title="{{ 'aria-rent.search.title' | translate }}">

	<!--<ion-nav-bar class="bar bar-balanced">
	<ion-nav-back-button class="button-clear button-light"></ion-nav-back-button>
</ion-nav-bar>
-->
<ion-nav-title> <i class="icon ion-search placeholder-icon"></i>
	<div class="search">
		<input type="text" placeholder="Search" ui-sref="app.search"></div>
</ion-nav-title>

<div class="tabs-striped tabs-top tabs-color-balanced">
	<div class="tabs">
		<a class="tab-item active" href="#"> <strong>For Sale</strong>
		</a>
		<a class="tab-item" href="#"> <strong>For Rent</strong>
		</a>
	</div>
</div>

<ion-tabs class="tabs-striped tabs-top tabs-color-balanced">

	<ion-tab title="For Sale" >
		<ion-view>
			<ion-content class="has-tabs-top">
				<ul class="list">

					<li class="item item-select">
						Price
						<select>
							<option selected>Choose</option>
						</select>
					</li>

					<li class="item item-select">
						Property type
						<select>
							<option selected>Choose</option>
						</select>
					</li>

					<li class="item item-select">
						Bedrooms
						<select>
							<option selected>Choose</option>
						</select>
					</li>

					<li class="item item-select">
						Bathrooms
						<select>
							<option selected>Choose</option>
						</select>
					</li>

					<li class="item item-toggle">
						Square Footage
						<label class="toggle toggle-balanced">
							<input type="checkbox">
							<div class="track">
								<div class="handle"></div>
							</div>
						</label>
					</li>

					<li class="item item-toggle">
						Garage
						<label class="toggle toggle-balanced">
							<input type="checkbox" checked>
							<div class="track">
								<div class="handle"></div>
							</div>
						</label>
					</li>

					<li class="item item-select">
						Floor
						<select>
							<option selected>Choose</option>
						</select>
					</li>

					<li class="item item-select">
						District
						<select>
							<option selected>Choose</option>
						</select>
					</li>

					<li class="item item-select">
						Property Type
						<select>
							<option selected>Choose</option>
						</select>
					</li>

					<li class="item item-select">
						Remont?
						<select>
							<option selected>Choose</option>
						</select>
					</li>

					<li class="item item-toggle">
						New Constructed
						<label class="toggle toggle-balanced">
							<input type="checkbox" checked>
							<div class="track">
								<div class="handle"></div>
							</div>
						</label>
					</li>


				</ul>
			</ion-content>
		</ion-view>
	</ion-tab>

	<ion-tab title="For Rent">
		<!-- Tab 2 content -->
	</ion-tab>

</ion-tabs>
<div class="bar bar-footer bar-balanced">
	<button ui-sref="app.home" class="button button-small button-clear button-light pull-left">
	  Cancel
	</button>
	<button ui-sref="app.home" class="button button-small button-clear button-light pull-right">
	  Apply
	</button>
</div>
</ion-view>
