<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-balanced">
      <ion-nav-buttons side="left">
        <!-- Toggle left side menu -->
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
      </ion-nav-buttons>

      <ion-nav-back-button>
      </ion-nav-back-button>
    </ion-nav-bar>

    <ion-nav-view></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left" class="sidebar" width="230">
    <ion-content>
      <img class="logo" src="img/sidebar-logo.png">
      <ion-list>
        <a ng-if="$root.user" class="item item-icon-left" menu-close>
          <i class="icon ion-person-stalker"></i>
          {{$root.user.name}}
        </a>
        <a class="item item-icon-left" menu-close ui-sref="app.searchSale">
          <i class="icon ion-ios-search-strong"></i>
          Search for Sale
        </a>
        <a class="item item-icon-left" menu-close ui-sref="app.searchRental">
          <i class="icon ion-ios-search-strong"></i>
          Search for Rent
        </a>
        <a class="item item-icon-left" menu-close ui-sref="app.reality">
          <i class="icon ion-map"></i>
          Map
        </a>
        <a ng-if="$root.user" ui-sref="app.likeList" menu-close class="item item-icon-left">
          <i class="icon ion-heart"></i>
          Like list
        </a>
        <a ng-if="$root.user" ui-sref="app.manageList" class="item item-icon-left" menu-close>
          <i class="icon ion-clipboard"></i>
          Manage list
        </a>
        <a class="item item-icon-left" menu-close>
          <i class="icon ion-android-textsms"></i>
          Send Feedback
        </a>
        <a class="item item-icon-left" menu-close>
          <i class="icon ion-star"></i>
          Rate this App
        </a>
        <a class="item item-icon-left" menu-close ui-sref="app.auth.settings">
          <i class="icon ion-wrench"></i>
          Settings
        </a>
        <a class="item item-icon-left" menu-close ui-sref="app.auth.settings">
          <i class="icon ion-information-circled"></i>
          About Us
        </a>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
