.property {
	.info {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 200px;
		background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.75));
		color: #fff;
		padding: 0px 28px;
		font-size: 11px;
		line-height: 16px;
		text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);
		hr {
			margin-bottom: 8px;
			border: 0;
			border-bottom: 1px solid rgba(255,255,255,0.5);
		}
		.esiminch {
			width: 46px;
			height: 46px;
			text-align: center;
			line-height: 50px;
			color: #17A210;
			float: right;
			background-color: #fff;
			border-radius: 6px;
			font-size: 28px;
		}
		.price {
			font-size: 24px;
			font-weight: 600;
			line-height: 32px;
		}
		.left {
			display: inline-block;
		}
		.right {
			display: inline-block;
			float: right;
		}
		.badge {
			font-size: 11px;
			padding: 2px 4px;
			border-radius: 4px;
			line-height: 16px;
			background-color: rgba(255,255,255,.5);
			color: #fff;
			margin: -2px 0px;
		}
		text-shadow: 0px 1px 0px rgba(0,0,0,0.1);
	}
	.list {
	    background: transparent;
	    border-radius: 0;
	    text-align: center;
	}

	.item.item-input {
		background-color: transparent;
		border: 0;
		border-bottom: 1px solid rgba(255, 255, 255, 0.4);
		color: rgba(255, 255, 255, 0.6);
		padding: 0;
		font-size: 24pt;
		border-radius: 0;
		margin-top: 30px;
	}

	label .icon {
		margin-right: 20px;
	    width: 28px;
	    text-align: center;
	    font-size: 32px;
	    line-height: 50px;
	}

	input {
	    font-size: 14px;
	    font-weight: 600;
	    height: 30px;
	    line-height: 16px;
	    padding: 0;
	    color: #fff;
	}

	.list-inset {
		margin: 150px 30px;
	}

	button.button.codeConfirmButton {
		margin-top: 100px;
		color: #fff;
		text-align: center;
	}

	button.button.facebookButton {
		.icon {
			margin-right: 10px;
		}
		margin-top: 20px;
		border: 2px solid #0072BC;
		background-color: #0072BC;
		border-radius: 6px;
		width: 100%;
	}

	div.bar.bar-footer.bar-transparent {
		background:none;
		background-color: transparent;
		border: 0;
		position: fixed;
		bottom: 0;
		left: 0;
	}

	img.logo {
		height: 102px;
		text-align: center;
		margin-top: 20px;
	}

	.bar.bar-transparent {
		background-color: transparent;
		background-image: none;

	}


	.bar.bar-transparent .title {
    	color: white;
	}

	.button-light {
		color: #fff;
		font-size: 28px;
		text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);
	}
	
	.scroll {
		height: 100%;
	}
	
	.page {
		position: relative;
		width: 100%;
		height: 100%;
	}

	.details {
		position: relative;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		height: 100%;
		background-color: #fff;
		box-shadow: 0px -1px 0px #fff;
		z-index: 1001;
	}
	/*
	.details::after{
		background-color:red;
		top:100%;
		left:0;
		position: absolute;
		height: 100%;
		width: 100%;
		content: "";
	}*/
	
	.has-no-header {
		top: 0 !important;
	}
	
	.name {
		width: 50%;
		float: left;
		text-align: left;
	}
	
	.value {
		text-align: right;
		color: #17A210;
	}
	
	.stars {
		font-size: 24px;
		margin-top: 16px;
	}
	.item {
		border-color: transparent;
		border-bottom: 1px solid rgba(0,0,0,0.1);
		background-color: transparent;
	}
	
	.value i.icon {
		font-size: 30px;
		height: 30px;
		margin: -5px 0;
		display: block;
	}
}	

