.createPassword {


	.list {
	    background: transparent;
	    border-radius: 0;
	    text-align: center;
	}

	.item.item-input {
		background-color: transparent;
		border: 0;
		border-bottom: 1px solid rgba(255, 255, 255, 0.4);
		color: rgba(255, 255, 255, 0.6);
		padding: 0;
		font-size: 24pt;
		border-radius: 0;
		margin-top: 30px;
	}

	label .icon {
		margin-right: 20px;
	    width: 28px;
	    text-align: center;
	    font-size: 32px;
	    line-height: 50px;
	}

	input {
	    font-size: 14px;
	    font-weight: 600;
	    height: 30px;
	    line-height: 16px;
	    padding: 0;
	    color: #fff;
	}

	.list-inset {
		margin: 150px 30px;
	}

	button.button.codeConfirmButton {
		margin-top: 100px;
		color: #fff;
		text-align: center;
	}

	button.button.facebookButton {
		.icon {
			margin-right: 10px;
		}
		margin-top: 20px;
		border: 2px solid #0072BC;
		background-color: #0072BC;
		border-radius: 6px;
		width: 100%;
	}

	div.bar.bar-footer.bar-transparent {
		background:none;
		background-color: transparent;
		border: 0;
		position: fixed;
		bottom: 0;
		left: 0;
	}

	img.logo {
		height: 102px;
		text-align: center;
		margin-top: 20px;
	}

	.bar.bar-transparent {
		background-color: transparent;
		background-image: none;

	}


	.bar.bar-transparent .title {
		border-bottom: 1px solid rgba(255,255,255,0.4);
    	color: white;
	}

	.button-light {
		color: #fff;
	}

}	

