.signIn {

	::-webkit-input-placeholder { /* WebKit, Blink, Edge */
	    text-transform: none;
	}
	:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
		text-transform: none;
	}
	::-moz-placeholder { /* Mozilla Firefox 19+ */
		text-transform: none;
	}
	:-ms-input-placeholder { /* Internet Explorer 10-11 */
		text-transform: none;
	}

	.list {
	    background: transparent;
	    border-radius: 0;
	    text-align: center;
	}

	.item.item-input {
		background-color: transparent;
		border: 0;
		border-bottom: 1px solid rgba(255, 255, 255, 0.4);
		color: rgba(255, 255, 255, 0.6);
		padding: 0;
		font-size: 24pt;
		border-radius: 0;
		margin-top: 20px;
	}

	label .icon {
		margin-right: 20px;
	    width: 28px;
	    text-align: center;
	    font-size: 32px;
	    line-height: 50px;
	}

	input {
	    font-size: 18px;
	    font-weight: 400;
	    height: 50px;
	    line-height: 20px;
	    padding: 0;
	    color: #fff;
	}

	.list-inset {
		margin: 20px 30px;
	}

	button.button.forgetPasswordButton {
		text-align: right;
		color: #fff;
		font-size: 10pt;
		float: right;
	}

	button.button.signInButton {
		border: 2px solid #fff;
		border-radius: 6px;
		width: 100%;
		margin-top: 20px;
		color: #fff;
	}

	button.button.facebookButton {
		.icon {
			margin-right: 10px;
		}
		margin-top: 20px;
		border: 2px solid #0072BC;
		background-color: #0072BC;
		border-radius: 6px;
		width: 100%;
	}

	div.bar.bar-footer.bar-transparent {
		background:none;
		background-color: transparent;
		border: 0;
		position: fixed;
		bottom: 0;
		left: 0;
	}

	img.logo {
		height: 102px;
		text-align: center;
	}


	.bar.bar-transparent {
		background-color: transparent;
		background-image: none;

	}


	.bar.bar-transparent .title {
		border-bottom: 1px solid rgba(255,255,255,0.4);
    	color: white;
    	opacity: 0;
	}

}

