<ion-view view-title="" class="property">
      <div class="background photo" style="background-image:url('{{$root.currentProperty.medias[0]}}')"></div>
<!--linear-gradient(rgba(0,0,0,0) 50%,rgba(0,0,0,0.75)),-->
	

	<ion-content scroll="true" class="has-no-header" >
            <ion-nav-bar class="bar bar-transparent">
                  <ion-nav-back-button class="button-clear button-light"></ion-nav-back-button>
                  <ion-nav-buttons side="secondary">
                        <button class="button-clear button-light icon ion-ios-heart-outline"></button>
                        <button class="button-clear button-light icon ion-ios-upload-outline"></button>
                  </ion-nav-buttons>
            </ion-nav-bar>
      <div class="page">
         <div class="info">
            <div class="price">{{$root.currentProperty.medias[0]}} $ {{$root.currentProperty.price}}</div>
            <hr>
            <div class="esiminch"><i class="icon ion-home"></i></div>
            <div class="address1">{{$root.currentProperty.street_am}}</div>
            <div class="region">{{$root.currentProperty.community}}</div>
            <div class="address2">{{$root.currentProperty.zipCode}}, ՀՀ, ք. Երևան</div>
            <hr>
            <div class="b">
            <div class="left">{{$root.currentProperty.room}} սենյակ</div>
            <div class="right">{{$root.currentProperty.floor}} հարկ</div>
            </div>
            <hr>
            <div class="left">մակերես {{$root.currentProperty.area}} մ<sup>2</sup></div>
            <div class="right"><div class="badge badge-light bagde-small">գործակալ</div></div>
         </div>
      </div>
      <div class="details">
            <ul class="list">
                  <li class="item">
                        <div class="name">Կառույցի տարեթիվը</div>
                        <div class="value">նոր</div>
                  </li>
                  <li class="item">
                        <div class="name">Կառույցի տեսակը</div>
                        <div class="value">նորակառույց</div>
                  </li>
                  <li class="item">
                        <div class="name">Հարկ</div>
                        <div class="value">5</div>
                  </li>
                  <li class="item">
                        <div class="name">Բնակարանի վիճակ</div>
                        <div class="value">լավ</div>
                        <div class="stars">
                              <i class="icon ion-star"></i>
                              <i class="icon ion-star"></i>
                              <i class="icon ion-star"></i>
                              <i class="icon ion-star"></i>
                              <i class="icon ion-star"></i>
                        </div>
                  </li>
                  <li class="item">
                        <div class="name">Առաստաղի բարձրություն</div>
                        <div class="value">3.10մ</div>
                  </li>
                  <li class="item">
                        <div class="name">Բաց պատշգամբ</div>
                        <div class="value"><i class="icon ion-ios-checkmark balanced"></i></div>
                  </li>
                  <li class="item">
                        <div class="name">Նկուղ</div>
                        <div class="value"><i class="icon ion-ios-checkmark balanced"></i></div>
                  </li>
                  <li class="item">
                        <div class="name">Վերնահարկ</div>
                        <div class="value"><i class="icon ion-ios-minus assertive"></i></div>
                  </li>
                  <li class="item">
                        <div class="name">Ավտոտնակ</div>
                        <div class="value"><i class="icon ion-ios-minus assertive"></i></div>
                  </li>
                  <li class="item">
                        <div class="name">Ավտոկայանատեղի</div>
                        <div class="value"><i class="icon ion-ios-checkmark balanced"></i></div>
                  </li>
                  <li class="item">
                        <div class="name">Վերելակ</div>
                        <div class="value"><i class="icon ion-ios-checkmark balanced"></i></div>
                  </li>
            </ul>
      </div>
	</ion-content>
</ion-view>
