<ion-view view-title="aria Rent">
  <ion-nav-buttons side="right">
    <a ui-sref="app.auth.signIn" class="button button-icon icon ion-plus"></a>
  </ion-nav-buttons>
  <ion-nav-title>
    <i class="icon ion-search placeholder-icon"></i>
    <div class="search">
      <input type="text" placeholder="Search" ui-sref="app.search">
    </div>
  </ion-nav-title>
  <ion-content scroll="false">
    <ui-gmap-google-map center='map.center' zoom='map.zoom' options="map.options" aria-label="Google map">
      <ui-gmap-window ng-repeat="property in properties" coords="property" show="true" template="infoWindow.template" templateParameter="property" options="infoWindow.options" ng-cloak></ui-gmap-window>
    </ui-gmap-google-map>
      <!--<ion-slide-box on-slide-changed="slideChanged(index)">

        <ion-slide ng-repeat="slide in data.houses">
          <div ng-include src="slide.template"></div>
        </ion-slide>

      </ion-slide-box>-->
    </ion-content>

    <div class="photo-slider" ng-if="currentProperty">
    	<div class="photos">
    		<!--<div class="container">
	    		<div class="photo" style="background-image:url(/img/sample1.jpg)"></div>
	    		<div class="photo" style="background-image:url(/img/sample2.jpg)"></div>
	    		<div class="photo" style="background-image:url(/img/sample3.jpg)"></div>
	    	</div>-->

			<ion-slide-box ng-click="goTo(currentProperty)" on-slide-changed="slideChanged(index)" does-continue="true" show-pager="false" auto-play="true">

				<ion-slide ng-repeat="media in currentProperty.medias">
					<div class="photo" style="background-image:url({{media}})"></div>
				</ion-slide>

			</ion-slide-box>
    	</div>
    	<div class="info">
    		<a class="days">25 days</a>
    		<a class="like icon" ng-class="[{'ion-ios-heart-outline': !currentProperty.like}, {'ion-heart': currentProperty.like}]" ng-click="like()"></a>
    		<a class="share icon ion-ios-upload-outline" ng-click="share()"></a>
    		<div class="details">
    			<div class="left">
    				<div class="price">${{currentProperty.price}}</div>
    				<div class="address1">{{currentProperty.street_am}}</div>
    				<div class="address2">0001, ՀՀ, ք. Երևան</div>
    			</div>
    			<div class="right">
    				<div class="box">
    					<div class="value">{{currentProperty.room}}</div>
    					<div class="name">սեն.</div>
    				</div>
    				<div class="box">
    					<div class="value">{{currentProperty.floor}}</div>
    					<div class="name">հարկ</div>
    				</div>
    				<div class="box">
    					<div class="value">{{currentProperty.area}} մ<sup>2</sup></div>
    					<div class="name">մակ.</div>
    				</div>
    				<a class="button button-clear viewed icon-left ion-eye"><span>23</span></a>
    				<a class="button button-clear liked icon-left ion-ios-heart"><span>14</span></a>
    			</div>
    		</div>
    	</div>
    </div>
</ion-view>
