.likeList {
    .item {
        border-top: 1px solid rgba(0,0,0,0.1);
    }
    .photo {
        width: 80px;
        height: 80px;
        background-size: cover;
        background-position: center;
        box-shadow: 0px 0px 1px rgba(0,0,0,0.5) inset;
    }

    .left {
        width: 80px;
        float: left;
    }

    .right {
        margin-left: 100px;
    }

    .address {
        color: #000;
        font-weight: 600;
    }

    .area {
        font-size: 14px;
    }

    .area {}

    .bedrooms, .bathrooms {
        font-size: 12px;
        line-height: 14px;
    }

   .like {
        position: absolute;
        top: 10px;
        right: 10px;
        color: #eb1e1e;
        font-size: 24px;
        width: 24px;
        height: 24px;
        text-align: center;
    }

    .price {
        right: 10px;
        bottom: 10px;
        position: absolute;
        color: #17A211;
        font-size: 16px;
        font-weight: 600;
    }
}