<ion-view view-title="Manage List" class="manageList">
	<ion-nav-bar class="bar bar-balanced">
		<ion-nav-buttons side="left">
			<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
		</ion-nav-buttons>
		<ion-nav-buttons side="right">
			<button class="button button-clear">Edit</button>
		</ion-nav-buttons>
	</ion-nav-bar>
	<ion-content>
		<ion-list can-swipe="true">

			<ion-item class="property" ng-repeat="property in properties" ng-hide="property.noShow">
				<div class="left">
					<div class="photo" style="background-image:url({{property.medias[0]}})"></div>
				</div>
				<div class="right">
					<div class="address">{{property.street_en}} <i class="dot icon ion-record   assertive or*balanced "></i></div>
					<div class="area">Square footage: {{property.area}}</div>
					<div class="bedrooms">{{property.rooms}} bedrooms</div>
					<div class="bathrooms">{{property.bathroom}} bathroom</div>
					<div class="price">${{property.price}}</div>
					<div class="due assertive">մնաց 3 օր</div>
				</div>
				<ion-option-button ng-click="removeLike($index)" class="button-assertive">Remove</ion-option-button>
			</ion-item>

		</ion-list>
	</ion-content>
</ion-view>
