.manageList {
    .item {
        border-top: 1px solid rgba(0,0,0,0.1);
    }
    .photo {
        width: 80px;
        height: 80px;
        background-size: cover;
        background-position: center;
        box-shadow: 0px 0px 1px rgba(0,0,0,0.5) inset;
    }

    .left {
        width: 80px;
        float: left;
    }

    .right {
        margin-left: 100px;
    }

    .address {
        color: #000;
        font-weight: 600;
    }

    .area {
        font-size: 14px;
    }

    .area {}

    .bedrooms, .bathrooms {
        font-size: 12px;
        line-height: 14px;
    }

   .dot {
       font-size: 14px;
    }

    .price {
        right: 10px;
        bottom: 24px;
        position: absolute;
        color: #17A211;
        font-size: 16px;
        font-weight: 600;
    }
    
    .due { 
        right: 10px;
        bottom: 10px;
        height: 14px;
        line-height: 14px;
        font-size: 12px;
        position: absolute;
    }
}